<p>list-faq works!</p>
<div class="card">
    <div class="card-header">
        Lista de libros en existencia
    </div>
    <div class="card-body">
      <!-- bs5-table-default -->
      <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Query</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let li of Libros; let iControl=index">
                    <td scope="row">{{li.isbn}}</td>
                    <td>{{li.titulo}}</td>
                    <td>{{li.autor}}</td>
                    <td>{{li.anio}}</td>
                    <td>{{li.editorial}}</td>
                    <td><a class="btn btn-info" routerLink="/editar-libro/{{li.isbn}}">Editar</a>
                        <a (click)="borrarRegistro(iControl,li.isbn, li.titulo)" class="btn btn-danger ms-1">Borrar</a></td>
                </tr> -->
            </tbody>
        </table>
      </div>
      
    </div>
  
</div>
