.screen{
	background:white;
	font-size:0;
	border-radius:10px;
	overflow:hidden;
	align-content: center;
	justify-content: center;
}

aside{
	/* width:50vw; */
	/* min-width: 195px; */
	height: 80%;
	width: 10%;
	background-color:#d7dade;
	display:flex;
	font-size:15px;
	vertical-align:top;
	/* border: 1px solid black; */
	border-radius:0 0 5px 0;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}


aside header{
	padding:30px 20px;
	height: 8vh;
	vertical-align: top;
}

aside input::placeholder{
	color:#fff;
}
aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:auto;
	height:45vh;
	overflow-anchor: auto;

}
aside li{
	cursor: pointer;
	float: center;
	margin: 10px;
	padding:10px;
	color:#fff;
	border-radius:10px;
	background-color: #8D0E11;
	text-align: center;
	overflow-anchor: auto;
}

aside li:hover{
	background-color:#CC1F20;
}
h2,h3{
	margin:0;
}
h1{
	font-size: large;
	margin:0;
	padding: 15px;
	text-align: center;
	color: black;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

main{
	width:83%;
	height: 100%;
	display:flex;
	font-size:15px;
	vertical-align:top;
	align-content: center;
	justify-content: center;
	flex-direction: column;

}

main header{
	background-color: #7e818a;
	height:8vh;
	padding:30px 20px;

	/* border-radius: 0px 0 10px 10px; */
}
main header > *{
	/* display:inline-block; */
	vertical-align:top;
}


main header img:first-child{
	border-radius:50%;
}
main header img:last-child{
	width:24px;
	margin-top:8px;
}
main header div{
	margin-left:10px;
	margin-right:145px;
}
main header h2{
	font-size:16px;
	margin-bottom:5px;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:auto;
	height:79vh;
	/* border-top:2px solid #fff;
	border-bottom:2px solid #fff; */
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
}
#chat li{
	/* padding:10px 1%; */
	margin-top: auto !important;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}

#chat .message{
	display: flex;
	padding:20px 0px;
	color: black;
	line-height:25px;
	max-width:100%;
	vertical-align: middle;
	border-radius:5px;
	margin-left:30px;
	text-align: left;
	word-wrap: break-word;
}

#chat .inChatIMG{
	vertical-align: middle;
	height: 100%;
	display: inline-block;
}


#chat img.chatIMG{
	height: 55px;
	width: 55px;
	float: left;
	border-radius:50%;
	margin-right: 10px;
	position: sticky;
	margin-left: 10px;
	top: 30%;
	/* left: 20px; */

}

#chat .me{
	/* text-align:right; */
	background-color:lightgray;

	
}

#chat .you{
	/* background-color:#fff; */
	
}
/* #chat .you .message{
	background-color:#58b666;
}
#chat .me .message{
	background-color:#ed776f;
} */

#FAQ {
	width: 100%;
	float: center;
	text-align: center;
	height:43vh;
}

#FAQ .faq-group{
	/* margin: 10px; */
	width: 87%;
	margin-bottom: 10px;
}



#FAQ .button{
	background-color: #8D0E11;
	color:#fff;
	width: 80%;
	word-wrap: break-word;
	border-radius:10px 0px 0px 10px;
}

#FAQ .button:hover{
	background-color: #CC1F20;
	
}

#FAQ .button-edit{
	width: 10%;
	background-color: #8D0E11;
	display: right;
	color:#fff;
	border-radius:0 10px 10px 0;
}
#FAQ .button-edit:hover{
	background-color: #CC1F20;
}

#FAQ ul{
	list-style: none;
	overflow-x: auto;
}

#FAQ li{
	background-color: #8D0E11;

}

#FAQ li:hover{
	background-color: #5e616a;

}

#textfield{
	max-width: 90%;
	width: 90vw;
	height: 7vh;
	padding:0 50px 0 20px;
	background-color:white;
	border: 1px,solid,black;
	border-radius:20px;
	/* word-wrap: break-word;
	word-break: break-all; */
	/* inline-size: 90%; */
	overflow-wrap: normal;
	overflow-y: scroll;
	margin: 10px;
	vertical-align: middle;
}

.textfield::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.mat-add{
	height: 50px;
	width: 50px;
	background-color: #B79967;
}
.mat-send{
	height: 50px;
	width: 50px;
	background-color: #81A7BB;
}

img.icon{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
}

img.profile{
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 45px;
	height: 45px;
}