

<div id="container">
	<aside>
		<ul>
			<li>
				<img src="https://st3.depositphotos.com/30456762/37578/v/600/depositphotos_375780486-stock-illustration-chat-bot-robot-avatar-in.jpg" alt="" width="55px" height="55px">
				<div>
					<h2>CHAT 1</h2>
					<h3>
						<span class="status green"></span>
						online
					</h3>
				</div>
			</li>
		</ul>
	</aside>
	<main>
		<header>
			<img src="https://st3.depositphotos.com/30456762/37578/v/600/depositphotos_375780486-stock-illustration-chat-bot-robot-avatar-in.jpg" alt="" width="55px" height="55px">
			<div>
				<h2>Chat 1 Header</h2>
			</div>
		</header>
		<ul id="chat">
      <li class="you" >
        <div class="message">
          Hello! How can I help you?
        </div>
        <div class="triangle"></div>
      </li>
      <div *ngFor="let result of results; let i= index;">
        <li class="me" >
          <div class="message">
            {{queries[i]}}
          </div>
          <div class="triangle"></div>
        </li>
      <li class="you" >
        <div class="message" style="white-space: pre-line">
          {{results[i]}}
        </div>
        <div class="triangle"></div>
      </li>
      </div>
      </ul>
      <div >
      <form>
        <input
          type="text"
          name="animal"
          placeholder="Enter a message"
          [(ngModel)] = "query"
        />
        <input type="button" value="Send" (click)="postCompletion()" />
        </form>
      </div>
        <!-- <div className=result> {{result}} </div> -->
    </main>
</div>
      



<!-- <div>
    <main className=main>
      <h3>Chatbot</h3>
      <form>
        <input
          type="text"
          name="animal"
          placeholder="Enter a message"
          [(ngModel)] = "query"
        />
        <input type="button" value="Send" (click)="postCompletition()" />
        </form>
        <div className=result> {{result}} </div>
    </main>
</div> -->