<div class="dropup">
    <a style="padding: 25px;" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        <img class="profile" src="https://i.pinimg.com/222x/57/70/f0/5770f01a32c3c53e90ecda61483ccb08.jpg">
  </a>
    <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" routerLink="/home">Home</a>
        <a class="dropdown-item" routerLink="/profile">Profile</a>
        <a class="dropdown-item" routerLink="/profile">Terms and Conditions</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/profile">Log Out</a>
    </div>
</div>

  
