<p>edit-faq works!</p>

<div class="card">
    <div class="card-header">
        Header
    </div>
    <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
 </div>

 <div class="mb-3">
   <label for="" class="form-label">Name</label>
   <input type="text"
     class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
   <small id="helpId" class="form-text text-muted">Help text</small>
 </div>

 <div class="btn-group" role="group" aria-label="Button group name">
    <button type="submit" class="btn btn-success">Agregar</button>
    <button type="button" class="btn btn-danger ms-3" routerLink="/listar-libro">Cancelar</button>
</div>

<!-- bs5-card-head-foot -->
        <!-- bs5-form-input -->
            <!-- bs5-bgroup-default -->